body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.file {
    visibility: hidden;
    position: absolute;
}
.tooltip.tooltip-main {
    margin-top: -40px;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}